<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xmlns:context="http://www.springframework.org/schema/context"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	 http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd">
         
         <!-- 正文开始 -->
         
         <!-- 配置三种数据库连接池 -->
         
         <!-- 配置c3p0连接池 -->
         <bean id="jdbcTemplate1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
         	<property name="driverClass" value="com.mysql.jdbc.Driver"/>
			<property name="jdbcUrl" value="jdbc:mysql:///spring_day04"/>
			<property name="user" value="root"/>
			<property name="password" value="root"/>
         </bean>
         
         <!-- 配置dbcp连接池 -->
         <bean id="jdbcTemplate2" class="org.apache.commons.dbcp.BasicDataSource">
         	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql:///spring_day04"/>
			<property name="username" value="root"/>
			<property name="password" value="root"/>
         </bean>
         
          <!-- 配置spring自带的连接池 -->
         <bean id="jdbcTemplate3" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
         	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql:///spring_day04"/>
			<property name="username" value="root"/>
			<property name="password" value="root"/>
         </bean>
         
         <!-- 配置spring自带的连接池 --><!-- 引用.properties文件 -->
         <bean id="jdbcTemplate3" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
         	<property name="driverClassName" value="${jdbc.driverClass}"/>
			<property name="url" value="${jdbc.url}"/>
			<property name="username" value="${jdbc.username}"/>
			<property name="password" value="${jdbc.password}"/>
         </bean>
         
</beans>