<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day35</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DengLuServlet</servlet-name>
  	<servlet-class>app.DengLuServlet</servlet-class><!-- 这是全路径，相对于项目名，不用加/在前面，并且用.间隔 -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>DengLuServlet</servlet-name>
  	<!-- 下面还可以写成相对路径形式<url-pattern>/a</url-pattern> -->
  	<url-pattern>/app/DengLuServlet</url-pattern><!-- 他是前后台的桥梁，必须用/开头。里面的内容是jsp中项目名之后的部分 -->
  </servlet-mapping>
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<servlet-class>app.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadServlet</servlet-name>
  	<url-pattern>/app/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>VerifyServlet</servlet-name>
	<servlet-class>app.VerifyServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>VerifyServlet</servlet-name>
	<url-pattern>/app/VerifyServlet</url-pattern>
</servlet-mapping>
</web-app>