<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xmlns:context="http://www.springframework.org/schema/context"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	 http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 加载jdbc.properties文件：二种方式。注意别忘了加载.properties属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置连接池。最好是在配置文件里面，不要在.java文件里面，因为要符合解耦合原则 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean> 
	

	
	<!--  使用JDBC模板(当继承JdbcDaoSupport类时不用写这项配置，此项目中就没用。注意配置连接池) -->
	<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean> -->
	
	
	<!-- 配置service(没有配置连接池(因为没有用到连接池)，只配置了dao) -->
	<bean id="accountService" class="com.itheima.service.impl.AccountServiceImpl">
		<!-- 注解代替的是这个元素 -->
		<property name="accountDao" ref="accountDao"/>
	</bean>
	
	<!-- 配置dao。注意配置连接池，因为以用了jdbcTemplate模板 -->
	<bean id="accountDao" class="com.itheima.dao.impl.AccountDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
</beans>