<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx  
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 连接三层架构(与注解的作用相同) -->
	<!-- 注意class中是点而不是斜杠 -->
	<bean id="customerDao" class="com.itheima.dao.impl.CustomerDaoImpl">
		<!-- 注意引用的是sessionFactory而不是transactionManager -->
		<!-- 注意在该配置文件里，customerDao和transactionManager两处引用了sessionFactory -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>